*{
    box-sizing: border-box;
    font-family:"Noto Sans TC";
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
}
.content{
    min-height: calc(100% - 104px);
}
.order{
    margin:auto;
    margin-bottom:40px;
}
.headline{
    width: 1000px;
    height: 27px;
    margin:auto;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-top:40px;
    margin-bottom:35px;
}
.noOrder{
    width: 1000px;
    height: 27px;
    margin:auto;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin-top:35px;
    margin-bottom:40px;
    display: none;
}
.homePage{
    cursor: pointer;
    color: #448899;
}
.homePage:hover{
    font-weight: 800; 
}
.section{
    width:988px;
    margin:auto;
    display:flex;
    justify-content:flex-start;
    margin-bottom:15px;
}
.picture{
    flex:none;
    width:250px;
    height:200px;
    margin:0 8px;
    position:relative
}
.picture:hover{
    opacity:0.8; 
}
.cartItemId{
    width:250px;
    height:200px;
    position:absolute;
    opacity:0;
    cursor:pointer;
}
.cartItemImage{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:50% 50%;
    border:1px solid #E8E8E8;
    border-radius: 5px;
}
.infor{
    flex:auto;
    margin-left:22px;
    position:relative;
    z-index: 1;
}
.title{
    width:700px;
    height:24px;
    font-weight: 700;
    font-size: 16px;
    color: #448899;
    margin-bottom:20px;
}
.message{
    width:700px;
    height:24px;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin-bottom:10px;
}
.deleteImage{
    width:30px;
    height:30px;
    background-image: url(/static/image/icon_delete.png);
    background-size:cover;
    position: absolute;
    top:0;
    right:0;
}
.attractionID{
    width:30px;
    height:30px;
    position: absolute;
    top:0;
    right:0;
    opacity:0;
    cursor:pointer;
}
hr{
    max-width: 1200px;
    margin:auto;
    border: 1px solid #E8E8E8;    
}
.contactForm, .paymentForm{
    max-width: 980px;
    margin:auto;
    margin-bottom: 45px;
    margin-top: 40px;
}
.contactInfor, .paymentInfor{
    width: 980px;
    height: 24px;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 24px;
}
.contactForm label, .paymentForm label{
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}
.contactForm input{
    width:200px;
    height:38px;
    padding:10px;
    border-radius:5px;
    border: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 16px;
    margin-bottom:15px;
}
.notice{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    width: 608px;
    height: 24px;
}
.check{
    vertical-align: middle; 
    width: 22px;
    height: 22px;
    background-image: url(/static/image/checked.png);
    background-position:center;
    background-size:cover;
}
.contactForm input:valid+.check{
    display:inline-block;
}
.contactForm input:invalid+.check{
    display:none;
}
.cardInfor{
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.tpfield {
    flex:none;
    width:200px;
    height:38px;
    padding:10px;
    border-radius:5px;
    border: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 16px;
}
.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.confirmForm{
    max-width: 980px;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 40px;
}
.confirmAmount{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;    
    color: #666666;
    margin-left:auto;
    padding: 3px 0 3px 17px;
}
.confirmButton{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 173px;
    height: 36px;
    padding: 10px 20px;
    background: #448899;  
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left:auto;
    cursor: pointer;
}
.confirmButton:hover{
    box-shadow: 3px 3px 8px rgba(33,33,33); 
}
.footer{
    height: 104px;
    margin-top: 75px;
    background-image: url(/static/image/footer.png);
    background-position: center;
    background-size: cover;
}
@media(max-width:1200px){
    .order{
        width: 90%;
    }
    .headline, .section{
        width: 100%;
    }
    .infor{
        width: 100%;
    }
    .title, .message{
        width: 100%;
    }
    .contactForm, .paymentForm, .confirmForm{
        width: 90%;
    }
    .notice{
        width:100%;
    }

}

@media(max-width:600px){
    .headline{
        margin-bottom: 0;
    }
    .section{
        display:block;
    }
    .picture{
        width: 100%;
        height: 256px;
        margin: 28px 0px;
    }
    .infor{
        margin-left: 0;
    }

}