*{
    box-sizing: border-box;
    font-family:"Noto Sans TC";
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
    position:relative;
}
.content{
    min-height: calc(100% - 104px);
}
.welcome{
    height:320px;
    margin-bottom:55px;
    background-image:url(/static/image/welcome.png);
    background-position:center;
    background-size:cover;
    display:flex;
}
.describe{
    max-width:1200px;
    width:100%;
    margin:auto;
    position:relative;
}
.slogan1{
    font-size:28px;
    font-weight:700;
    color:#F8F8F8;
    margin-bottom:10px;
}
.slogan2{
    font-size:16px;
    font-weight:700;
    color:#F8F8F8;
    margin-bottom:18px;
}
.search{
    display:flex;
}
.search input{
    top:0;
    width:400px;
    height:46px;
    border:0;
    padding:15px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color:#FFFFFF;
    font-size:16px;
    font-weight:700;
}
.search button{
    top:0;
    right:0;
    cursor: pointer;
    border:0;
    width:60px;
    height:46px;
    background-color:#448899;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.search button img{
    width:30px;
    height:30px;
    background-position:center;
}
.searchBarList{
    position:absolute;
    z-index:1;
    width:400px;
    height:162px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;    
    padding-right:40px;
    margin-top:5px;
    border-radius:5px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    visibility: hidden;
}
.searchBarTag{
    width:120px;
    height:40px;
    text-align: left;
    line-height: 40px;
    padding-left: 15px;
    font-size:14px;
    font-weight:500;
    color:#000000;
    border-radius:5px;
    cursor:pointer;  
}
.searchBarTag:hover{
    background-color:rgba(232,232,232,0.5);
    box-shadow: 0 0 5px rgba(33,33,33,0.3);
}
.main{
    width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:40px;
    margin-bottom: 30px;
}
.team{
    position:relative;
    cursor:pointer; 
    border:1px solid;
    border-color:#dcdcdc;  
    border-radius: 5px;
}
.team:hover{
    opacity:0.8;
}
.teamChild{
    position:absolute;
    width:268px;
    height:242px;
    opacity:0;
}
.photo{
    width:268px;
    height:197px;
}
.img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:50% 50%;
}
.title{
    width:268px;
    height:40px;
    background-color:#000000;
    opacity:0.6;
    position:absolute;
    bottom:45px;
    text-align:center;
    line-height:40px;
    font-size:16px;
    font-weight:700;
    color:#FFFFFF;
}
.subtitle{
    width:268px;
    height:45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#FFFFFF;;
    padding:10px;
} 
.MRT{
    flex:none;
    width:124px;
    height:25px;
    font-weight:500;
    font-size:16px;
    color:#757575;
    text-align:left;
}
.category{
    flex:none;
    width:124px;
    height:25px;
    font-weight:500;
    font-size:16px;
    color:#757575;
    text-align:right;
}
.footer{
    height:104px;
    margin-top:75px;
    background-image:url(/static/image/footer.png);
    background-position:center;
    background-size:cover;
}

@media(max-width:1200px){
    .describe{
        width:90%;
    }
    .main{
        width:90%;
        grid-template-columns:1fr 1fr;
    }
    .teamChild{
        width:100%;
    }
    .photo{
        width:100%;
    }
    .title{
        width:100%;
    }
    .subtitle{
        width:100%;
    }
    .MRT{
        flex:auto;
    }
}

@media(max-width:600px){
    .search input{
        width:230px;
    }
    .searchBar{
        width:322px;
        padding-right:34px;
    }
    .searchBarTag{
        width:96px;
    }
    .main{
        grid-template-columns:1fr;
    }
}
