*{
    box-sizing: border-box;
    font-family:"Noto Sans TC";
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
    background-color:#757575;
}
.main{
    display:flex;
    height:400px;
    background-image:url(/static/image/thankyoubackground.jpg);
    background-position:top;
    background-size:cover;
}
.describe{
    background-color:rgb(255,255,255,0.7);
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.message{
    font-weight: 700;
    font-size: 19px;
}
.orderId{
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notice{
    font-weight: 700;
    font-size: 16px;
}
.index{
    margin-top: 10px;
}
.homePage, .searchOrder{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #448899;
}
.homePage:hover, .searchOrder:hover{
    font-weight: 800; 
}
.footer{
    height: 104px;
    background-image: url(/static/image/footer.png);
    background-position: center;
    background-size: cover;
}
@media(max-width:600px){
    .describe{
        width: 90%;
    }
}