<!DOCTYPE html> 
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>   
        <title>Taipei Attraction</title>
        <link rel="stylesheet" type="text/css" href="/static/css/attraction.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/login_signup.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/notice.css" />
    </head>
    <body>
        <div class="content">
            <script src="/static/js/html/html_of_nav.js"></script>
            <div class="section">
                <div class="photo">
                    <img class="prev" src="/static/image/btn_leftArrow.png"></img>
                    <img class="next" src="/static/image/btn_rightArrow.png"></img>
                    <div class="dots">
                    </div>
                </div>
                <div class="main">
                    <div class="name"></div>
                    <div class="categoryAndMrt"></div>
                    <div class="order">
                        <div class="title">訂購導覽行程</div>
                        <div class="subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="bookdate">
                            <label class="date">選擇日期：</label>
                            <input type="date" id="date"></input>
                        </div>
                        <div class="time">
                            <div class="timeTitle">選擇時間：</div>
                            <label class="radio" id="morning">
                                <input type="radio" name="radio" id="morningIput" value="morning">
                                <div class="circle"></div>
                                <div class="period">上班天</div>
                            </label>
                            <label id="afternoon">
                                <input type="radio" name="radio"  id="afternoonIput" value="afternoon">
                                <div class="circle"></div>
                                <div class="period">下班天</div>
                            </label>
                        </div>
                        <div class="expense">
                            <div class="expenseTitle">導覽費用：</div>
                            <div class="morningPrice">新台幣 2000元</div>
                            <div class="afternoonPrice" style="display:none">新台幣 2500元</div>
                        </div>
                        <div class="submit">
                            <span class="submitToOrder">開始預定行程</span>
                        </div>
                    </div>
                </div>    
            </div> 
            <div class="information">
                <p class="description"></p>
                <div class="addressTitle">景點地址：</div>
                <p class="address"></p>
                <div class="transporationTitle">交通方式：</div>
                <p class="transport"></p>
            </div>
        </div>
        <script src="/static/js/html/html_of_login_signup.js"></script>
        <script src="/static/js/html/html_of_notice.js"></script>  
        <footer class="footer"></footer>
        <script type="module" src="/static/js/attraction.js"></script>
        <script type="module" src="/static/js/notice.js"></script>
        <script type="module" src="/static/js/auth.js"></script>
    </body>
</html>