
<!DOCTYPE html> 
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>   
        <title>Taipei Day Trip</title>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
    </head>
    <body>
        <div class="header">
            <div class="frame">
                <div class="left">台北一日遊</div>
                <div class="right">
                    <div class="item">預定行程</div>
                    <div class="item">登入／註冊</div>
                </div>
            </div>
        </div>
        <div class="welcome">
            <div class="describe">
                <div class="slogn1">輕鬆享受台北一日悠閒</div>
                <div class="slogn2">探索每個角落，體驗城市的深度旅遊行程</div>
                <form class="search">
                    <input type="text" placeholder="輸入景點名稱查詢" id="input"></input>
                    <button type="submit">
                        <img src="/static/image/icon_search.png">
                    </button>
                </form>
                <div class="searchBar"></div>
            </div>
        </div>
        <div class="main">
            <!-- <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div>
            <div class="team">
                <div class="photo"></div>
                <div class="title"></div>
                <div class="subtitle">
                    <div class="MRT"></div>
                    <div class="category"></div>
                </div>
            </div> -->
        </div>
        <div class="footer"></div>
        <script src="/static/index.js"></script>
    </body>

</html>