<!DOCTYPE html> 
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>   
        <title>Taipei Day Trip</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/login_signup.css" />
    </head>
    <body>
        <div class="content">
            <script src="/static/js/html_of_nav.js"></script>
            <div class="welcome">
                <div class="describe">
                    <div class="slogan1">輕鬆享受台北一日悠閒</div>
                    <div class="slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div class="search">
                        <input type="text" placeholder="輸入景點名稱查詢" id="searchInput"></input>
                        <button type="submit" id="submit">
                            <img src="/static/image/icon_search.png">
                        </button>
                    </div>
                    <div class="searchBarList"></div>
                </div>
            </div>
            <main class="main">
            </main>
        </div> 
        <script src="/static/js/html_of_login_signup.js"></script> 
        <footer class="footer"></footer>
        <script src="/static/js/index.js"></script>
        <script type="module" src="/static/js/auth.js"></script>
    </body>
</html>