<!DOCTYPE html> 
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>   
        <title>Taipei Thankyou</title>
        <link rel="stylesheet" type="text/css" href="/static/css/thankyou.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/login_signup.css" />
    </head>
    <body>
        <div class="content">
            <script src="/static/js/html/html_of_nav.js"></script>
            <div class="main">
                <div class="describe">
                    <div class="message">行程預定成功</div>
                    <div class="message">您的訂單編號如下：</div>
                    <div class="orderId"></div>
                    <div class="notice">請記住此編號，或到會員中心查詢歷史訂單</div>
                    <div class="index">
                        <span class="homePage">回首頁 /</span>
                        <span class="searchOrder"> 查詢訂單</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/html/html_of_login_signup.js"></script> 
        <footer class="footer"></footer>
        <script type="module" src="/static/js/thankyou.js"></script>
        <script type="module" src="/static/js/auth.js"></script>
    </body>
</html>